

:root{
  --ECB-blue: rgba(0, 50, 153, 0.25);
}

.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow
{
  min-height: 450px;
}

#wrapper
{
  text-align: center;
  width: 500px;
  margin: auto;
}


/*
 *  STYLE IT
 */

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  background-color: #ffffff;
}

body::-webkit-scrollbar
{
  width: 6px;
}

body::-webkit-scrollbar-thumb
{
  background-color: var(--ECB-blue);
}

div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  background-color: #ffffff;
}

div::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-thumb
{
  background-color: var(--ECB-blue);
}




